<footer class="bg bg-body-secondary mt-5 pt-5">
    <div class="container">
        <h1 class="mb-5">FoodHub</h1>
        <div class="row">
            <div class="col md-3">
                <h5 class="fw-bold mb-3">Company</h5>

                <p>About Us</p>
                <p>Team</p>
                <p>Corporate</p>


            </div>
            <div class="col-md-3">

                <h5 class="fw-bold mb-3">Contact</h5>

                <p>Help</p>
                <p>Partner With Us</p>
                <p>Support</p>

            </div>

            <div class="col-md-3">

                <h5 class="fw-bold mb-3">Available In</h5>

                <p>Chennai</p>
                <p>Bangalore</p>
                <p>Hyderabad</p>
                <p>Mumbai</p>
                <p>Delhi</p>

            </div>

            <div class="col-md-3">

                <h5 class="fw-bold mb-3">Legal</h5>

                <p>Terms & Conditions</p>
                <p>Cookie Policy</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row align-items-center mt-5">

            <div class="col-md-6">

                <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="180"
                    class="me-3">

                <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                    width="180">

            </div>

            <div class="col-md-6 text-md-end">

                <h5 class="fw-bold mb-3">
                    Social Links
                </h5>

                <i class="bi bi-linkedin fs-3 me-3"></i>
                <i class="bi bi-instagram fs-3 me-3"></i>
                <i class="bi bi-facebook fs-3 me-3"></i>
                <i class="bi bi-pinterest fs-3 me-3"></i>
                <i class="bi bi-twitter-x fs-3"></i>

            </div>

        </div>

    </div>
    <hr class="my-3">
    <div class="text-center">

        <p class="mb-0">
            © 2026 FoodHub. All Rights Reserved.
        </p>

    </div>
</footer>