<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include("partials/head") %>
  <style>
      body {
        background: linear-gradient(135deg,
            #fff8f0,
            #ffe0c2);
      }

      .form-control {
        height: 50px;
        border-radius: 20px;
      }

      .btn-warning {
        height: 50px;
        border-radius: 20px;
      }

      .card {
        background: white;
      }
    </style>
</head>

<body class="bg-light">

  <div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card shadow-lg p-4 border-0" style="width:450px; border-radius:20px;">

      <div class="text-center mb-4">

        <h1 class="fw-bold text-warning">
          FoodHub
        </h1>

        <p class="text-muted">
          Login your Account
        </p>

      </div>

      <form method="POST" action="/login">

        

        <div class="mb-3">

          <label class="form-label fw-semibold">
            Email Address
          </label>

          <input type="email" name="email" class="form-control" placeholder="Enter your email" required>

        </div>

        <div class="mb-4">

          <label class="form-label fw-semibold">
            Password
          </label>

          <input type="password" name="password" class="form-control" placeholder="Create password" required>

        </div>

        <button type="submit" class="btn btn-warning w-100 fw-bold">

          Login

        </button>

      </form>

      <hr>

      <div class="text-center">

        <p class="mb-0">
          Don't have an account?
          <a href="/signup" class="text-decoration-none fw-bold">
            Login
          </a>
        </p>

      </div>

    </div>

  </div>
<%- include("partials/script") %>
</body>

</html>